<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="game">
      <h2 data-cy="gameDetailsHeading"><span jhiTranslate="gameDirectoryApp.game.detail.title">Game</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ game.id }}</span>
        </dd>
        <dt><span jhiTranslate="gameDirectoryApp.game.title">Title</span></dt>
        <dd>
          <span>{{ game.title }}</span>
        </dd>
        <dt><span jhiTranslate="gameDirectoryApp.game.gameDetails">Game Details</span></dt>
        <dd>
          <div *ngIf="game.gameDetails">
            <a [routerLink]="['/game-details', game.gameDetails.id, 'view']">{{ game.gameDetails.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/game', game.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
