<div class="footer-limiter">
  <div class="footer-right">
    <a href="https://www.instagram.com/timoleonl/">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a href="https://twitter.com/TLatinopoulos">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/timoleonlatinopoulos/">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a href="https://github.com/TimoleonLatinopoulos">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
  </div>

  <div class="footer-left">
    <p class="footer-links">Game Directory</p>

    <p>Timoleon Latinopoulos © 2023</p>
  </div>
</div>
