<div class="row d-flex justify-content-center">
  <div class="col-lg-10 col-sm-12">
    <form [formGroup]="gameDetailsForm" (ngSubmit)="save()">
      <div class="row flex-container">
        <div class="col-lg-8 mb-4 A">
          <mat-card>
            <mat-card-header>
              <h2 *ngIf="!update; else create">Create a new Game Entry</h2>
              <ng-template #create>
                <h2>Update Game Entry</h2>
              </ng-template>
              <br />
              <br />
            </mat-card-header>
            <mat-card-content>
              <mat-form-field class="mt-4 mb-4 mat-field">
                <mat-label for="field_title">Game Title</mat-label>
                <input matInput id="field_title" name="title" formControlName="title" type="text" />
              </mat-form-field>
              <jhi-validation-error [abstractControl]="gameDetailsForm.get('title')" [absolutePosition]="true" />

              <div formGroupName="gameDetails">
                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_releaseDate">Release Date</mat-label>
                  <input matInput id="field_releaseDate" name="releaseDate" formControlName="releaseDate" [matDatepicker]="picker" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <jhi-validation-error
                  [abstractControl]="gameDetailsForm.get('gameDetails')?.get('releaseDate')"
                  [absolutePosition]="true"
                />

                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="mb-4 mt-4 mat-field">
                      <mat-label for="field_imageUrl">Image URL</mat-label>
                      <input matInput id="field_imageUrl" name="imageUrl" formControlName="imageUrl" type="text" />
                    </mat-form-field>
                    <jhi-validation-error
                      [abstractControl]="gameDetailsForm.get('gameDetails')?.get('imageUrl')"
                      [absolutePosition]="true"
                    />
                  </div>
                  <div class="col-6">
                    <div *ngIf="gameDetailsForm.get('gameDetails')?.get('imageUrl')?.value != ''">
                      <label class="form-label mt-4" for="image_imageUrl">Image Preview</label>
                      <div class="mb-4">
                        <img
                          id="image_imageUrl"
                          name="image_imageUrl"
                          class="text-error edit-thumbnail"
                          [src]="gameDetailsForm.get('gameDetails')?.get('imageUrl')?.value"
                          alt="Not Found!"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <mat-form-field class="mb-4 mt-4 mat-field">
                      <mat-label for="field_thumbnailUrl">Thumbnail URL</mat-label>
                      <input matInput id="field_thumbnailUrl" name="thumbnailUrl" formControlName="thumbnailUrl" type="text" />
                    </mat-form-field>
                    <jhi-validation-error
                      [abstractControl]="gameDetailsForm.get('gameDetails')?.get('thumbnailUrl')"
                      [absolutePosition]="true"
                    />
                  </div>
                  <div class="col-6">
                    <div *ngIf="gameDetailsForm.get('gameDetails')?.get('thumbnailUrl')?.value != ''">
                      <label class="form-label mt-4" for="image_thumbnailUrl">Thumbnail Preview</label>
                      <div class="mb-4">
                        <img
                          id="image_thumbnailUrl"
                          name="image_thumbnailUrl"
                          class="text-error edit-thumbnail"
                          [src]="gameDetailsForm.get('gameDetails')?.get('thumbnailUrl')?.value"
                          alt="Not Found!"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_pegiRating">Pegi Rating</mat-label>
                  <mat-select id="field_pegiRating" name="pegiRating" formControlName="pegiRating">
                    <mat-option [value]="pegiRatingOption" *ngFor="let pegiRatingOption of pegiRatingList">
                      {{ pegiRatingOption }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <jhi-validation-error [abstractControl]="gameDetailsForm.get('gameDetails')?.get('pegiRating')" [absolutePosition]="true" />

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_metacriticScore">Metacritic Score</mat-label>
                  <input matInput id="field_metacriticScore" name="metacriticScore" formControlName="metacriticScore" type="number" />
                </mat-form-field>
                <jhi-validation-error
                  [abstractControl]="gameDetailsForm.get('gameDetails')?.get('metacriticScore')"
                  [absolutePosition]="true"
                />

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_price">Price</mat-label>
                  <input matInput id="field_price" name="price" formControlName="price" type="number" />
                </mat-form-field>
                <jhi-validation-error [abstractControl]="gameDetailsForm.get('gameDetails')?.get('price')" [absolutePosition]="true" />

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_description">Description</mat-label>
                  <textarea matNativeControl id="field_description" name="description" formControlName="description" type="text" rows="6">
                  </textarea>
                </mat-form-field>
                <jhi-validation-error
                  [abstractControl]="gameDetailsForm.get('gameDetails')?.get('description')"
                  [absolutePosition]="true"
                />

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_snippet">Snippet</mat-label>
                  <textarea matNativeControl id="field_snippet" name="snippet" formControlName="snippet" type="text" rows="3"> </textarea>
                </mat-form-field>
                <jhi-validation-error [abstractControl]="gameDetailsForm.get('gameDetails')?.get('snippet')" [absolutePosition]="true" />

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_notes">Notes</mat-label>
                  <textarea matNativeControl id="field_notes" name="notes" formControlName="notes" type="text" rows="3"> </textarea>
                </mat-form-field>
                <jhi-validation-error [abstractControl]="gameDetailsForm.get('gameDetails')?.get('notes')" [absolutePosition]="true" />

                <mat-form-field class="mb-4 mt-4 mat-field">
                  <mat-label for="field_steamAppid">Steam Apiid</mat-label>
                  <input matInput id="field_steamAppid" name="steamAppid" formControlName="steamAppid" type="text" />
                </mat-form-field>
                <jhi-validation-error [abstractControl]="gameDetailsForm.get('gameDetails')?.get('steamAppid')" [absolutePosition]="true" />

                <div class="mb-4 mt-4">
                  <label class="form-label">Developers</label>

                  <jhi-chip-grid-input
                    name="developers"
                    [categoryList]="developerList"
                    [placeholder]="'Developers...'"
                    [canAdd]="true"
                    [recievedCategoryList]="this.steamDeveloperList"
                    (valueEmitted)="handleDeveloperValue($event)"
                  >
                  </jhi-chip-grid-input>
                </div>

                <div class="mb-4 mt-4">
                  <label class="form-label">Publishers</label>

                  <jhi-chip-grid-input
                    name="publishers"
                    [categoryList]="publisherList"
                    [placeholder]="'Publishers...'"
                    [canAdd]="true"
                    [recievedCategoryList]="this.steamPublisherList"
                    (valueEmitted)="handlePublisherValue($event)"
                  >
                  </jhi-chip-grid-input>
                </div>

                <div class="mb-4 mt-4">
                  <label class="form-label">Platforms</label>

                  <jhi-chip-grid-input
                    name="platforms"
                    [categoryList]="platformList"
                    [placeholder]="'Platforms...'"
                    [canAdd]="false"
                    [recievedCategoryList]="this.steamPlatformList"
                    (valueEmitted)="handlePlatformValue($event)"
                  >
                  </jhi-chip-grid-input>
                </div>

                <div class="mb-4 mt-4">
                  <label class="form-label">Genres</label>

                  <jhi-chip-grid-input
                    name="categories"
                    [categoryList]="categoryList"
                    [placeholder]="'Genres...'"
                    [canAdd]="false"
                    [recievedCategoryList]="this.steamCategoryList"
                    (valueEmitted)="handleCategoryValue($event)"
                  >
                  </jhi-chip-grid-input>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <button type="submit" [disabled]="gameDetailsForm.invalid" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="!update" class="col-lg-4 mb-4 B">
          <mat-card>
            <mat-card-header>
              <h2>Search through Steam</h2>
              <br />
              <br />
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <mat-form-field class="col-lg-12" formGroupName="gameDetails">
                  <mat-label for="steamAppid">Steam Apiid</mat-label>
                  <input matInput id="steamAppid" name="steamAppid" formControlName="steamAppid" type="text" />
                </mat-form-field>

                <div class="col-lg-10">
                  <button type="button" (click)="fillFormFromSteam()" class="btn btn-primary">
                    <fa-icon icon="download"></fa-icon>
                    Steam API Search
                  </button>
                </div>

                <div class="mb-4 mt-3 col-lg-2" style="position: relative">
                  <mat-progress-spinner *ngIf="showSpinner" mode="indeterminate" class="spinner" style="position: absolute">
                  </mat-progress-spinner>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>
