.example-chip-list {
  width: 100%;
}

.spinner-update {
  top: 0;
  right: 0;
  margin-right: -50px;
  margin-top: 20px;
}

@media only screen and (max-width: 991px) {
  .flex-container {
    flex-direction: row;
  }
  .A {
    order: 2;
  }
  .B {
    order: 1;
  }
}

.flex-container {
  display: flex;
}
.A {
  // flex : 2;
}
.B {
  // flex : 1;
}

:host ::ng-deep .spinner circle {
  stroke: #78d3d6;
}
