<div class="row d-flex justify-content-center">
  <form [formGroup]="filterForm" class="col-lg-10 col-sm-12">
    <mat-card>
      <mat-card-header class="mat-header" style="position: relative">
        <h3 class="header-text">{{ userGames ? 'My Games' : 'Game List' }}</h3>

        <div class="header-text auto-margin">
          <button type="button" (click)="gameListView = true" class="btn btn-primary" [disabled]="gameListView">
            <fa-icon icon="list"></fa-icon>
            LIST VIEW
          </button>
          <button type="button" (click)="gameListView = false" class="btn btn-primary" [disabled]="!gameListView">
            <fa-icon icon="table-cells"></fa-icon>
            GRID VIEW
          </button>
        </div>

        <mat-form-field class="search-field">
          <span matPrefix style="height: 0"> </span>
          <input matInput placeholder="Search Game Title" formControlName="title" (input)="filter()" />
          <button matSuffix mat-button style="border: none; background: transparent">
            <fa-icon icon="search"></fa-icon>
          </button>
        </mat-form-field>
      </mat-card-header>

      <mat-accordion [@.disabled]="true">
        <mat-expansion-panel (afterExpand)="utilService.toTop()">
          <mat-expansion-panel-header>
            <mat-panel-title class="position: relative;">
              <fa-icon class="position: absolute !important;" icon="filter"></fa-icon>
              <span *ngIf="isGridFiltered" class="red-text">!</span>
              <h4 class="p-4">Filters</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-panel-description>
            <div class="p-4 filter-card">
              <div class="row">
                <mat-form-field class="mat-field filter-field col-2">
                  <mat-label>Developer</mat-label>
                  <input matInput id="field_developer" formControlName="developer" [matAutocomplete]="developerAuto" />
                  <mat-autocomplete #developerAuto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option [value]="developer" *ngFor="let developer of filteredDevelopers | async">
                      {{ developer.description }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="mat-field filter-field col-2">
                  <mat-label>Publisher</mat-label>
                  <input matInput formControlName="publisher" [matAutocomplete]="publisherAuto" />
                  <mat-autocomplete #publisherAuto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option [value]="publisher" *ngFor="let publisher of filteredPublishers | async">
                      {{ publisher.description }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="mat-field filter-field col-2">
                  <mat-label>Platform</mat-label>
                  <input matInput type="text" formControlName="platform" [matAutocomplete]="platformAuto" />
                  <mat-autocomplete #platformAuto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option [value]="platform" *ngFor="let platform of filteredPlatforms | async">
                      {{ platform.description }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="mat-field filter-field col-2">
                  <mat-label>Genre</mat-label>
                  <input matInput formControlName="category" [matAutocomplete]="categoryAuto" />
                  <mat-autocomplete type="text" #categoryAuto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option [value]="category" *ngFor="let category of filteredCategories | async">
                      {{ category.description }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-checkbox *ngIf="userGames" class="col-2" formControlName="favourite" color="primary">Favourite</mat-checkbox>
              </div>

              <div class="row pt-2">
                <button type="button" (click)="clearFormFields()" class="btn btn-danger btn-filter">CLEAR</button>
                <button type="button" (click)="filterSearch()" class="btn btn-info btn-filter">SEARCH</button>
                <div class="col-4"></div>
                <div class="col-8"></div>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>

      <hr />

      <mat-card-content *ngIf="gameListDataResult !== undefined && gameListView" class="row">
        <div *ngFor="let game of gameListDataResult.data">
          <div class="pt-3 d-flex align-items-start flex-grow-1">
            <div style="position: relative">
              <a [attr.href]="'/game-preview/' + game.id">
                <img style="display: block" class="thumbnail" [src]="game.gameDetails?.thumbnailUrl" alt="Not Found!" />
              </a>
              <div *ngIf="game.favourite">
                <fa-icon class="floating-icon" [icon]="['fas', 'star']"></fa-icon>
              </div>
            </div>
            <div class="d-flex flex-column">
              <a class="reference-text highlight" [attr.href]="'/game-preview/' + game.id">{{ game.title }}</a>
              <mat-card-subtitle>
                {{ game.gameDetails?.publishers | separateCategories }}, {{ game?.gameDetails?.developers | separateCategories }}
              </mat-card-subtitle>
              <div>{{ game?.gameDetails?.snippet }}</div>
            </div>
          </div>

          <hr />
        </div>
      </mat-card-content>

      <div *ngIf="gameListDataResult !== undefined && !gameListView" class="row center">
        <div *ngFor="let game of gameListDataResult.data" class="mb-3 flex-fit">
          <div class="block">
            <a [attr.href]="'/game-preview/' + game.id">
              <img class="block-thumbnail" [src]="game.gameDetails?.thumbnailUrl" alt="Not Found!" />
            </a>
            <div class="block-text">
              <a class="reference-text highlight" [attr.href]="'/game-preview/' + game.id">{{ game.title }}</a>
              <mat-card-subtitle class="initial">
                {{ game.gameDetails?.publishers | separateCategories }}, {{ game?.gameDetails?.developers | separateCategories }}
              </mat-card-subtitle>
              <div class="initial">{{ game?.gameDetails?.snippet }}</div>
            </div>
          </div>
        </div>
      </div>

      <mat-paginator
        #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [pageSize]="state.take"
        [pageIndex]="state.skip"
        [pageSizeOptions]="takeOptions"
        [showFirstLastButtons]="true"
        [length]="gameListDataResult !== undefined && gameListDataResult.total != null ? gameListDataResult.total : 0"
        aria-label="Select page"
      />
    </mat-card>
  </form>
</div>
