<div>
  <div
    *ngFor="let key of getErrors()"
    [ngStyle]="
      absolutePosition
        ? { 'word-break': 'break-word', 'white-space': 'normal', position: 'absolute', 'margin-top': '-10px', 'font-weight': 'bold' }
        : { 'word-break': 'break-word', 'white-space': 'normal', 'font-weight': 'bold' }
    "
  >
    <ng-container *ngIf="checkForError(key) && (!showOnlyOnTouched || (showOnlyOnTouched && this.abstractControl?.touched))">
      <span class="text-error">
        {{ getErrorMessage(key) }}
      </span>
    </ng-container>
  </div>
</div>
