<div class="row d-flex justify-content-center">
  <div class="col-lg-10 col-sm-12">
    <div class="row flex-container">
      <div class="col-lg-8 A">
        <mat-card>
          <mat-card-header>
            <mat-card-title style="position: relative">{{ game.title }}</mat-card-title>
          </mat-card-header>
          <hr />
          <mat-card-content class="inner-html">
            <div class="inner-highlight inner-img" [innerHTML]="game.gameDetails?.description"></div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 mb-4 B">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Game Information</mat-card-title>

            <div class="float-right" *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <button type="button" (click)="editGameDetails()" class="btn btn-primary">
                <fa-icon icon="pencil"></fa-icon>
                Edit
              </button>
              <button type="button" (click)="deleteGame()" class="btn btn-danger">
                <fa-icon icon="trash-alt"></fa-icon>
                Delete
              </button>
            </div>
            <div class="float-right" *jhiHasAnyAuthority="'ROLE_USER'">
              <div *ngIf="showUserGame">
                <div *ngIf="userGame == null; else userGameRef">
                  <button type="button" (click)="addToUserGames()" class="btn btn-primary">
                    <fa-icon icon="add"></fa-icon>
                    Add to My Games
                  </button>
                </div>
                <ng-template #userGameRef>
                  <button type="button" (click)="favourite()" class="btn btn-primary">
                    <div *ngIf="this.userGame?.favourite; else notFavourite">
                      <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    </div>
                    <ng-template #notFavourite>
                      <fa-icon [icon]="['far', 'star']"></fa-icon>
                    </ng-template>
                  </button>
                  <button type="button" (click)="removeUserGame()" class="btn btn-danger">
                    <fa-icon icon="trash-alt"></fa-icon>
                  </button>
                </ng-template>
              </div>
            </div>
          </mat-card-header>
          <hr />
          <mat-card-content>
            <img style="object-fit: cover; width: 100%" [src]="game.gameDetails?.imageUrl" alt="Not Found!" />

            <div class="row pt-4">
              <div class="col-md-4 col-5 bold">
                <div>Title</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  {{ game.title }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div>Platform (s)</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  {{ this.game.gameDetails?.platforms | separateCategories }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div>Developer (s)</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  {{ this.game.gameDetails?.developers | separateCategories }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div>Publisher (s)</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  {{ this.game.gameDetails?.publishers | separateCategories }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div>Genre (s)</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  {{ this.game.gameDetails?.categories | separateCategories }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div>Release Date</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  <div *ngIf="releaseDate; else toBeAnnounced">
                    {{ releaseDate | date : 'dd/MM/yyyy' }}
                  </div>
                  <ng-template #toBeAnnounced>To be announced</ng-template>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div *ngIf="hasPegiRating">Pegi Rating</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div *ngIf="hasPegiRating" class="bottom-text">
                  {{ pegiRatingValue }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div *ngIf="hasMetacritic">Metacritic Score</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div *ngIf="hasMetacritic" class="bottom-text">
                  {{ game.gameDetails?.metacriticScore }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div>Price</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div class="bottom-text">
                  {{ game.gameDetails?.price === 0 ? 'Free' : game.gameDetails?.price + '€' }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div *ngIf="hasSteamAppid">Steam Appid</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <div *ngIf="hasSteamAppid" class="bottom-text">
                  {{ game.gameDetails?.steamAppid }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-5 bold">
                <div *ngIf="hasSteamAppid">Steam URL</div>
              </div>
              <div class="col-md-8 col-7 text-container">
                <a class="highlight" *ngIf="hasSteamAppid" [attr.href]="game.gameDetails?.steamUrl">
                  {{ game.gameDetails?.steamUrl }}
                </a>
              </div>
            </div>

            <div *ngIf="hasNotes">
              <hr />
              {{ game.gameDetails?.notes }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
