.top-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
}

.floating-add-icon {
  padding: 5px !important;
  border-radius: 6px;
}

.floating-add {
  position: absolute;
  right: 0;
  top: 0;
  background: #424242;
  border: 12px solid #424242;
  border-radius: 12px;
}

.floating-add-left {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

div.scroll {
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

#image-item {
  display: block;
  margin-top: 10px;
}

.thumbnail {
  width: 160px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #222;
  margin-right: 30px;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
}

mat-paginator {
  background: transparent !important;
}

.list-text {
  display: block !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-snippet {
  font-size: smaller;
  display: initial;
}

.floating-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 40px;
  margin-top: 10px;
}
.floating-icon {
  margin-right: 40px;
  margin-top: 10px;
}
.floating-icon-shadow {
  color: black;
  margin-right: 37px;
  margin-top: 12px;
}

// small
@media only screen and (max-width: 991px) {
  ::ng-deep .cdk-overlay-pane {
    min-width: 60%;
    max-width: 90vw !important;
  }
}
// large
@media only screen and (min-width: 992px) {
  ::ng-deep .cdk-overlay-pane {
    min-width: 35%;
    max-width: 80vw !important;
  }
}

// mobile
@media only screen and (max-width: 450px) {
  #list {
    display: none;
  }
  #grid {
    display: block;
  }
}

// regular
@media only screen and (min-width: 451px) {
  #list {
    display: block;
  }
  #grid {
    display: none;
  }
}

/*********
* Collapse
*********/

details {
  user-select: none;
}

details > summary fa-icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

details[open] summary fa-icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
